/*!
Custom Bootstrap manifest without glyphicons
 */
// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
// Reset and dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_print";
// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_tables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons";
// Components
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_button-groups";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_input-groups";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_navbar";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_breadcrumbs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_pagination";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_pager";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_labels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_badges";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_jumbotron";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_alerts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_media";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_list-group";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_panels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_wells";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_close";
// Components w/ JavaScript
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_tooltip";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_popovers";
// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities";

body
{
  color: #00B760;
  font-size: 1em;
  line-height: 18px;
  font-family:'Verdana', 'Helvetica', sans-serif;
  background-color: #FFFFFF;
  height:100%;
}

p {
  color: black;
  font-size: 11px;
  font-family: Verdana }

.title {
  color: #00B760;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  font-family: Verdana;
}

.value {
  color: #00B760;
  font-size: 14px;
  line-height:30px;
}

.value1 {
  color: #00B760;
  font-size: 14px;
  line-height:24px;
}


.menu a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height:15px;
}

.footer {
  color: #00B760;
  font-size: 10px;
  line-height:14px;
  text-align:center;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
}

li a:focus{
  background-color: #FFFFFF;
}

li a:hover{
  background-color: #FFFFFF;
}

img {
  max-height: 100%;
}

.c-navigation.is-fixed {
  position: fixed;
  will-change: transform;
}
.c-navigation {
  top: 0;
  left: 0;
  width: 100%;
  background: #F4EBC1;
  z-index: 10;
  margin-left: 0px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

.u-container {
  max-width: 116rem;
  margin-right: auto;
  margin-left: auto;
}

.c-navigation__item:not(:last-of-type) {
  margin-right: 2.5rem;
}
.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  line-height: 1;
  font-size: 1.7em;
  color: #222222;
}
a {
  text-decoration: underline;
  background-color: transparent;
  color: #0E4f16;
}

main {
  padding-top: 20px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #222222;
  padding-right: 0.5em;
}

h1.larger {
  font-size: 2.5em;
}
.logo {
  height: 4em;
  float: left;
  padding-right: 1em;
  margin-top: 1.3em;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8em;
}

.splash {
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
  //font-style: italic;
  font-weight: bold;
  line-height: 1.0em;
}

h2 {
  font-size: 3em;
  color: #222222;
}

dl {

  dt{
    font-size: 2em;
    color: #222222;
  }

  dd{
    font-size: 2em;
  }
}

.footer{
  left: 0;
  width: 100%;
  background: #F4EBC1;
  z-index: 10;
  margin-left: 0px;
  min-height: 20em;
}

img {
    -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;
}

/*
*/

