/*!
Custom Bootstrap manifest without glyphicons
 */
// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
// Reset and dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_print";
// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_tables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons";
// Components
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_button-groups";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_input-groups";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_navbar";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_breadcrumbs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_pagination";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_pager";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_labels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_badges";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_jumbotron";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_alerts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_media";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_list-group";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_panels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_wells";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_close";
// Components w/ JavaScript
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_tooltip";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_popovers";
// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities";

body
{
  background-color: #F7EB9E;
  font-size: 1em;
  line-height: 18px;
  font-family:'Georgia', 'Helvetica', sans-serif;
  height:100%;
}

.spacer {
  margin-bottom: 3em;
}

//.container {
//  display: table;
//}
//
//.col-md-6 {
//  float: none;
//  display: table-cell;
//  vertical-align: top;
//}

a {
  //text-decoration: none;
  //text-shadow: 0.05em 0 0 white, -0.05em 0 0 white,
  //0 0.05em 0 white, 0 -0.05em 0 white,
  //0.1em 0 0 white, -0.1em 0 0 white,
  //0 0.1em 0 white, 0 -0.1em 0 white;
  //background-image: linear-gradient(to right, #0E4f16
  //0%, #0E4f16 100%);
  //background-repeat: repeat-x;
  //background-position: bottom 0.04em center;
  //background-size: 100% 0.07em;
  //
  //&:hover {
  //  background-image: none;
  //}

  color: darkblue;
  text-decoration: underline;
  text-underline-position: under;
  padding: 5px;

  &:focus{
    color: darkblue;
    outline: 5px auto black;
    outline-offset: 15px;
    text-decoration: none;
  }

  &:hover {
    color: darkblue;
    outline: 5px auto black;
    outline-offset: 15px;
    text-decoration: none;
  }
}

p {
  color: black;
  font-size: 11px;
}

.title {
  color: #00B760;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.value {
  color: #00B760;
  font-size: 14px;
  line-height:30px;
}

.value1 {
  color: #00B760;
  font-size: 14px;
  line-height:24px;
}


.menu a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height:15px;
}

.footer {
  color: #00B760;
  font-size: 10px;
  line-height:14px;
  text-align:center;
}


ul {
  list-style: none;
  display: inline-block;
  margin: 9px;
  padding: 9px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  //display: block;
  text-align: center;
  margin-right: 8px;
  //margin-left: 4px;
}

//li a:focus{
//  //background-color: #F8DB01;
//  color: black;
//  //text-decoration: none
//}
//
//li a:hover{
//  //background-color: #F8DB01;
//  color: black;
//  //text-decoration: none;
//}

img {
  max-height: 100%;
  //max-width: 70%;
}



.c-navigation.is-fixed {
  position: fixed;
  will-change: transform;
}
.c-navigation {
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
  margin-left: 0px;
  //border-radius: 16px;
  box-shadow: 3px 3px 12px 0px #888888;
}
article, aside, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

.u-container {
  max-width: 116rem;
  margin-right: auto;
  margin-left: auto;
}

.c-navigation__item:not(:last-of-type) {
  margin-right: 2.5rem;
}
.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-weight: bold;
  line-height: 1;
  font-size: 2em;
  color: #F8DB01;
}
a {
  //text-decoration: underline;
  //background-color: transparent;
  //color: #0E4f16;
}

main {
  padding-top: 20px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #222222;
  padding-right: 0.5em;
}

h1.larger {
  font-size: 2.5em;
  padding-top: 5px;
}


.logo {
  height: 4em;
  float: left;
  padding-right: 1em;
  margin-top: 1.3em;
}



.splash {
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
  //font-style: italic;
  font-weight: bold;
  line-height: 1.0em;
}

h2 {
  font-size: 3em;
  color: #222222;
  font-weight: bold;
  margin-bottom: 1em;
}



.footer{
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
  margin-left: 0px;
  min-height: 20em;
  color: #F8DB01;
  //border-radius: 16px;
  box-shadow: 3px 3px 12px 0px #888888;

}

//img:not(.logo):not(.mobile-logo) {
//  border-radius: 16px;
//}

.well {
  box-shadow: 3px 3px 12px 0px #888888;
}

.container-fluid{
  padding: 0;
}

p {
  font-size: 1.5em;
}

/*
*/
@media (min-width: 1200px) {
  .center-image {
    padding:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }

  .header-banner h1 {
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    font-style: italic;
    font-size: 0.7em;
  }

  ul {

    li{
      font-size: 2em;
      color: #222222;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .center-image {
    padding:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }

  .header-banner h1 {
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    font-style: italic;
    font-size: 0.7em;
  }

  ul {

    li{
      font-size: 2em;
      color: #222222;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    max-width: 100%;
  }
}



@media (max-width: 992px) {
  .center-image {
    padding:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }

  .header-banner h1 {
    color: #F8DB01;
    font-size: 4.0em;
  }


  .header-splash {
    font-style: italic;
    font-size: 0.7em;
  }

  ul {

    li{
      font-size: 1.5em;
      color: #222222;
      display: inline-block;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    //max-width: 50%;
    width: 80%;
  }
}


@media (max-width: 768px) {
  .center-image {
    padding:0em;
    margin-top:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }

  .header-banner h1 {
    text-align: center;
    color: #F8DB01;
    font-size: 2.5em;
  }


  .header-splash {
    font-style: italic;
    font-size: 0.7em;
  }

  ul {

    li{
      font-size: 1.1em;
      color: #222222;
      display: inline-block;
      width:100%;
    }

  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #222222;
  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    //max-width: 50%;
    width: 80%;
  }
}


//@media (max-width: 767px) {
//  .center-image {
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
//    height: 8em;
//  }
//
//  .header-banner h1 {
//    color: #F8DB01;
//    font-size: 1.9em;
//  }
//}




