/*!
Custom Bootstrap manifest without glyphicons
 */
// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
// Reset and dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_print";
// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_wells";
// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities";

body {
  background-color: #F7EB9E;
  font-size: 1em;
  line-height: 18px;
  font-family: 'Verdana', 'Georgia', sans-serif;
  height: 100%;
}

.spacer {
  margin-bottom: 3em;
}

div, section {

  &:focus{
    outline: none
  }
}

.header-banner {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-link-container{
  margin-top: 15px;

}

.header-link {
  font-size: 1.4em;
  color: #F8DB01;
  text-decoration: underline;
  text-underline-position: under;

  &:focus {
    color: #F8DB01;
    outline: 3px auto #F8DB01;
    //outline-offset: 15px;
    text-decoration: none;
  }

  &:hover {
    color: #F8DB01;
    outline: 3px auto #F8DB01;
    //outline-offset: 15px;
    text-decoration: none;
  }
}

a:not(.skip):not(.header-link) {
  color: darkblue;
  text-decoration: underline;
  text-underline-position: under;
  padding: 5px;

  &:focus {
    color: darkblue;
    outline: 5px auto black;
    //outline-offset: 15px;
    text-decoration: none;
  }

  &:hover {
    color: darkblue;
    outline: 5px auto black;
    //outline-offset: 15px;
    text-decoration: none;
  }
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  &:focus, &:active {
    font-size: 16pt;
    text-decoration: underline;
    text-underline-position: under;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 999;
    padding: 15px 30px;
    background-color: white;
  }
}

p {
  color: black;
  font-size: 11px;
}

.title {
  color: #00B760;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.value {
  color: #00B760;
  font-size: 14px;
  line-height: 30px;
}

.value1 {
  color: #00B760;
  font-size: 14px;
  line-height: 24px;
}


.menu a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
}

.footer {
  color: #00B760;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 19px 9px 0px 9px;
  padding: 9px 9px 0px 9px;
  overflow: hidden;
}



li a {
  text-align: center;
  margin-right: 8px;
}

img {
  max-height: 100%;

}

.c-navigation.is-fixed {
  position: fixed;
  will-change: transform;
}

.c-navigation {
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
  margin-left: 0px;
  box-shadow: 3px 3px 12px 0px #888888;
}

article, aside, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

.u-container {
  max-width: 116rem;
  margin-right: auto;
  margin-left: auto;
}

.c-navigation__item:not(:last-of-type) {
  margin-right: 2.5rem;
}

.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-weight: bold;
  line-height: 1;
  font-size: 2em;
  color: #F8DB01;
}

footer span {
  color: #F8DB01;
}

main {
  padding-top: 20px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #222222;
  padding-right: 0.5em;
}

h1.larger {
  font-size: 2.5em;
  padding-top: 5px;
}

.logo {
  height: 4em;
  float: left;
  padding-right: 1em;
  margin-top: 1.3em;
}

.splash {
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
  font-weight: bold;
  line-height: 1.0em;
}

h2 {
  font-size: 3em;
  color: #222222;
  font-weight: bold;
  margin-bottom: 1em;
}

.footer {
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
  margin-left: 0px;
  min-height: 20em;
  color: #F8DB01;
  box-shadow: 3px 3px 12px 0px #888888;

}

.well {
  box-shadow: 3px 3px 12px 0px #888888;
}

.container-fluid {
  padding: 0;
}

p {
  font-size: 1.5em;
}

li {
  font-family: "Trebuchet MS",sans-serif;
  font-weight: 600;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

li a {
  font-weight: 500;
}

main .row.no-flex > [class*='col-'] {
  display: block;
}

@media (min-width: 1200px) {
  .center-image {
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
  }

  .header-banner h1 {
    text-align: center;
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    text-align: center;
    color: #F8DB01;
    font-size: 2.0em;
    font-style: italic;
  }

  ul {

    li {
      font-size: 2em;
      color: #222222;
      float:left;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    max-width: 100%;

  }

  img {
    flex-shrink: 0;
  }

  main .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  main .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  main .well {
    height: 100%;
  }

  .center-links {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .center-image {
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
  }

  .header-banner h1 {
    text-align: center;
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    text-align: center;
    color: #F8DB01;
    font-size: 2.0em;
    font-style: italic;
  }

  ul {

    li {
      font-size: 2em;
      color: #222222;
      width: 100%;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    max-width: 100%;
    flex-shrink: 0;
  }

  img {
    flex-shrink: 0;
  }

  main .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  main .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  main .well {
    height: 100%;
  }

  .center-links {
    text-align: center;
  }
}

@media (max-width: 992px) {
  main.container .row > [class*='col-'] {
    display: inline-flex;
  }

  .center-image {
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
  }

  .header-banner h1 {
    text-align: center;
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    text-align: center;
    color: #F8DB01;
    font-size: 2.0em;
    font-style: italic;
  }

  ul {

    li {
      font-size: 2em;
      color: #222222;
      display: inline-block;
      width: 100%;
    }

  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    width: 80%;
  }

  main .row {
    display: block;
  }
  main .row > [class*='col-'] {
    display: block;
  }

  .center-links {
    text-align: center;
  }
}

@media (max-width: 768px) {
  main.container .row > [class*='col-'] {
    display: inline-flex;
  }

  .center-image {
    padding: 0em;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }

  .header-banner h1 {
    text-align: center;
    color: #F8DB01;
    font-size: 4.0em;
  }

  .header-splash {
    text-align: center;
    color: #F8DB01;
    font-size: 1.6em;
    font-style: italic;
  }

  ul {

    li {
      font-size: 2em;
      color: #222222;
      display: inline-block;
      width: 100%;
    }

  }

  h2 {
    font-size: 2.0em;
    font-weight: bold;
    color: #222222;
  }

  img.tile {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 12px 0px #888888;
    width: 80%;
  }

  main .row {
    display: block;
  }
  main .row > [class*='col-'] {
    display: block;
  }

  .center-links {
    text-align: center;
  }
}